button{
    border: none;
    background: none ;
    color: rgb(254, 107, 107);
    font-size: 30px;
}
li{
    font-size: 30px;
}
input{
    width: 300px;
    background: none;
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none ;
}
::placeholder {
    color: black;
    font-size: 15px;
}
input:focus{
    outline: none;
}